---
layout: sectioned-page
title: CASELAW ACCESS PROJECT
subtitle: Providing an open data set of every U.S. court decision ever published, for use by lawyers, scholars, programmers, and everyone else.
title-tag: Caselaw Access Project
description: "unlimited caselaw forever"
slug: home
sharing-image: images/header-splash-logo-ani@1x.gif
custom-scripts: ['jquery-3.1.1.min.js']
---
<div class="sleeve">
  <section id="dive-in-section" class="home-section dive-in">
      <h2>DIVE IN!</h2>
      <div class="description">Why wait? Start exploring the data</div>
      {% include dive-in-section.html %}
  </section>
</div>

<div class="section-border">&nbsp;</div>

<div class="sleeve">
  <section id="explorations-section"
         class="home-section explorations">
    <h2>DATA EXPLORATIONS</h2>
    <div class="description">Take a look at some of the things you can do with the data</div>
    {% include explorations-section.html %}
  </section>
</div>
