<div class="background gallery-crl">
  <div class="gallery-item" href="{{ project.url }}">
    <span class="title">
      WHAT?
    </span>
    XYZ number of cases. Read about what kindof data you can get here.
  </div>
  <div class="gallery-item" href="{{ project.url }}">
    <span class="title">
      HOW?
    </span>
    We procured, cut, scanned, uploaded, other verbs, verbs verbs verbs
  </div>
  <div class="gallery-item" href="{{ project.url }}">
    <span class="title">
      WHO?
    </span>
    Team at Harvard University, Ravel, etc. and you.
    <p>
    </p>
  </div>
</div>
