<span id="background">
  <!--Used to locate on page when clicking nav link-->
  &nbsp;
</span>
<div class="background gallery-crl">
  <a class="gallery-item" href="{{ project.url }}">
    <span class="title">
      WHY?
    </span>
    We should have free online access to all U.S. caselaw
  </a>
  <a class="gallery-item" href="{{ project.url }}">
    <span class="title">
      WHAT?
    </span>
    Transform 40 million pages of print caselaw into data available online 
  </a>
  <a class="gallery-item" href="{{ project.url }}">
    <span class="title">
      HOW?
    </span>
    Scan the print; convert the images to structured text files; build an API to enable access to the data  
  </a>
  <a class="gallery-item" href="{{ project.url }}">
    <span class="title">
      WHO?
    </span>
    The Harvard Law School Library and Ravel Law 
    <p>
    </p>
  </a>
</div>
