<span id="dive-in" class="anchor-offset">
  <!--Used to locate on page when clicking nav link-->
  &nbsp;
</span>

<div class="background gallery-crl">
  <div class="gallery-thirds gallery-item">
    <span class="title">
      BULK DATA DOWNLOAD
    </span>
    Want to explore the Arkansas dataset?
    Click here to download it now.
    <a href="https://github.com/harvard-lil/CAP_Sample_Volumes_Arkansas/"
       target="_blank"
       role="button"
       aria-label="Read more background">
      <span>DOWNLOAD DATA</span>
    </a>
  </div>
  <div class="gallery-thirds gallery-item">
    <span class="title">
      USE THE API
    </span>
    Browse unlimited metadata, download up to 500 cases a day with a token, etc
    <a href="{{ site.baseurl }}/background/"
       role="button"
       aria-label="Read more background">
      <span>GO TO THE API</span>
    </a>
  </div>
  <div class="gallery-thirds gallery-item">
    <span class="title">
      MORE
    </span>
    Are you a researcher with an institution and would like unrestricted access to caselaw?

    <a href="{{ site.baseurl }}/background/"
       role="button"
       aria-label="Read more background">
      <span>CONTACT US</span>
    </a>
  </div>
</div>
