<span id="dive-in" class="anchor-offset">
  <!--Used to locate on page when clicking nav link-->
  &nbsp;
</span>

<div class="background gallery-crl">
  <div class="gallery-thirds gallery-item">
    <span class="title">
      BULK DATA DOWNLOAD
    </span>
    Want to explore the Arkansas dataset?
    Click here to download sample volumes now.
    <a href="https://github.com/harvard-lil/CAP_Sample_Volumes_Arkansas/"
       role="button"
       aria-label="Arkansas sample dataset">
      <span>DOWNLOAD DATA</span>
    </a>
  </div>
  <div class="gallery-thirds gallery-item">
    <span class="title">
      USE THE API
    </span>
    Browse unlimited metadata and register to download up to 500 cases per day.
    <a href="https://capapi.org/"
       role="button"
       aria-label="Caselaw Access Project API">
      <span>GO TO THE API</span>
    </a>
  </div>
  <div class="gallery-thirds gallery-item">
    <span class="title">
      MORE
    </span>
    For researchers: if you need more access than the API provides, please contact us.
    <a href="mailto:info@capapi.org"
       role="button"
       aria-label="Contact the Caselaw Access Project">
      <span>CONTACT US</span>
    </a>
  </div>
</div>
