<div class="background gallery-crl">
  <div class="gallery-item" href="{{ project.url }}">
    <span class="title">
      BULK DATA DOWNLOAD
    </span>
    Want XYZ GB of restricted data? Click below.
    <a href="{{ site.baseurl }}/background/"
       role="button"
       aria-label="Read more background">
      <span>DOWNLOAD DATA</span>
    </a>


  </div>
  <div class="gallery-item" href="{{ project.url }}">
    <span class="title">
      USE THE API
    </span>
    Browse unlimited metadata, download up to 500 cases a day with a token, etc
    <a href="{{ site.baseurl }}/background/"
       role="button"
       aria-label="Read more background">
      <span>GO TO THE API</span>
    </a>


  </div>
  <div class="gallery-item" href="{{ project.url }}">
    <span class="title">
      MORE
    </span>
    Are you a researcher with an institution and would like unrestricted access to caselaw data?

    <a href="{{ site.baseurl }}/background/"
       role="button"
       aria-label="Read more background">
      <span>CONTACT US</span>
    </a>

  </div>
</div>
