<span id="explorations">
  <!--Used to locate on page when clicking nav link-->
  &nbsp;
</span>
<div class="background gallery-crl">
  <div class="gallery-item">
    <a class="round-button" href="{{ site.baseurl }}/explorations/topics/"
       role="button"
       aria-label="Read more background">
      <p>TOPIC MAPPER</p>
    </a>
  </div>
  <div class="gallery-item">
    <a class="round-button" href="{{ site.baseurl }}/explorations/limericks/"
       role="button"
       aria-label="Read more background">
      <p>LIMERICK GENERATOR</p>
    </a>
  </div>
  <div class="gallery-item">
    <a class="round-button" href="{{ site.baseurl }}/explorations/wordclouds/"
       role="button"
       aria-label="Read more background">
      <p>WORDCLOUDS</p>
    </a>
  </div>
  <a href="{{ site.baseurl }}/explorations/"
     role="button"
     aria-label="Read more about the explorations">
    <span>READ MORE</span>
  </a>

  <img class="img-full-width hero-mountains"
       alt="caselaw mountains"
       src="{{ site.baseurl }}/assets/images/mountains.png">
</div>
