<span id="explorations" class="anchor-offset">
  <!--Used to locate on page when clicking nav link-->
  &nbsp;
</span>
<div class="background gallery-crl">
  <!--<div class="gallery-item">-->
    <!--<a class="button" href="{{ site.baseurl }}/explorations/topics/"-->
       <!--role="button"-->
       <!--aria-label="Read more background">-->
      <!--<p>TOPIC MAPPER</p>-->
    <!--</a>-->
  <!--</div>-->
  <div class="gallery-item">
    <a href="{{ site.baseurl }}/explorations/wordclouds/">
      <span class="title">
        WORDCLOUDS
      </span>
    </a>
    See the most popular topics in California caselaw
  </div>
  <div class="gallery-item">
    <a href="{{ site.baseurl }}/explorations/limericks/">
      <span class="title">
        LIMERICK GENERATOR
      </span>
    </a>
    Generate rhymes using caselaw!
  </div>
</div>
