<footer>
  <div class="sleeve">
    <a class="anchor-offset" id="footer">
      &nbsp;
    </a>
    <a href="{{ site.baseurl }}/">
      <figure class="footer-logo">
        <img src="{{ site.baseurl }}/assets/images/footer-logo-white.png"
             srcset="{{ site.baseurl }}/assets/images/footer-logo-white.png 1x,
                     {{ site.baseurl }}/assets/images/footer-logo-white.png 2x"
             alt="Caselaw Access Project logo">
      </figure>
    </a>
    <span class="footer-caption">CASELAW ACCESS PROJECT</span>
    <div class="footer-copyright">
      <p>&copy;2017 The President and Fellows of Harvard University</p>
      <p>The content on this site is covered under a Creative Commons Attribution-ShareAlike 3.0 Unported license unless otherwise noted.</p>
    </div>

    <a href="mailto:info@capapi.org" role="button" class="contact-button">
      CONTACT US
    </a>

    <div class="return-to-top">
      <a href="#" onclick="returnToTop()">
        <img src="{{ site.baseurl }}/assets/images/up-arrow.png"
          alt="return to top arrow up">
        <p>return to top</p>
      </a>
    </div>
  </div>
</footer>
