<div class="background gallery-crl">
  <div class="gallery-item">
    <a class="round-button" href="{{ site.baseurl }}/gallery/topics/"
       role="button"
       aria-label="Read more background">
      <p>TOPIC MAPPER</p>
    </a>
  </div>
  <div class="gallery-item">
    <a class="round-button" href="{{ site.baseurl }}/gallery/limericks/"
       role="button"
       aria-label="Read more background">
      <p>LIMERICK GENERATOR</p>
    </a>
  </div>
  <div class="gallery-item">
    <a class="round-button" href="{{ site.baseurl }}/gallery/word-clouds/"
       role="button"
       aria-label="Read more background">
      <p>WORD CLOUD</p>
    </a>
  </div>
  <img class="img-full-width hero-mountains"
       alt="caselaw mountains"
       src="{{ site.baseurl }}/assets/images/mountains.png">
</div>
