<div class="background gallery-crl">
  <div class="gallery-item" href="{{ project.url }}">
    <a class="round-button" href="{{ site.baseurl }}/gallery/topics/"
       role="button"
       aria-label="Read more background">
      <span>TOPIC MAPPER</span>
    </a>
  </div>
  <div class="gallery-item" href="{{ project.url }}">
    <a class="round-button" href="{{ site.baseurl }}/gallery/limericks/"
       role="button"
       aria-label="Read more background">
      <span>LIMERICK GENERATOR</span>
    </a>
  </div>
  <div class="gallery-item" href="{{ project.url }}">
    <a class="round-button" href="{{ site.baseurl }}/gallery/word-clouds/"
       role="button"
       aria-label="Read more background">
      <span>WORD CLOUD</span>
    </a>
  </div>
  <img class="img-full-width hero-mountains" src="{{ site.baseurl }}/assets/images/mountains.png">
</div>
