{% if page.slug == "home" %}
<header>
  <a href="{{ site.baseurl }}"
     class="header-img">
    <img class="cap-logo"
         alt="Caselaw Access Project logo"
       src="{{ site.baseurl }}/assets/images/header-sm-logo.png">
    <span class="logo-title">CASELAW ACCESS PROJECT</span>
  </a>
  <a href="{{ site.lilurl }}"
     class="header-img right-align">
    <img class="lil-logo"
         alt="Library Innovation Lab logo"
         src="{{ site.baseurl }}/assets/images/header-lil-sm-logo.png">
  </a>
</header>

{% endif %}
