<header>
  <img class="cap-logo"
       src="{{ site.baseurl }}/assets/images/header-sm-logo.png">
  <figcaption>{{ page.title }}</figcaption>
  <img class="lil-logo"
       src="{{ site.baseurl }}/assets/images/header-lil-sm-logo.png">
</header>

{% if page.slug == "home" %}
  <div class="hero-splash">
    <figure class="hero-group">
      <img src="{{ site.baseurl }}/assets/images/header-logo.png"
           srcset="{{ site.baseurl }}/assets/images/header-logo.png 1x,
                   {{ site.baseurl }}/assets/images/header-logo@2x.png 2x"
           alt="Caselaw Access Project">
      <h1 class="hero-title">{{ page.title }}</h1>
      <p class="hero-subtitle">{{ page.subtitle }}</p>
    </figure>
  </div>
{% endif %}
{% include nav.html %}
