---
layout: sectioned-page
---
<section>
  <div class="sleeve">
    <div class="slice">
      {% assign part = section.section %}
      <h2>California Wordclouds</h2>
      <div class="slice-body">
        <div class="description">
          Most used words for every year of California caselaw from 1852 to 2015.
          <br/>
          Click on an image for a larger size.
        </div>
        <div class="image-container">
          <div class="grid">
            {% for file in site.static_files %}
            <a href="{{file.path}}" class="cell">
              {% if file.path contains "wordclouds" %}
              <img class="responsive-image" src="{{file.path}}" alt="Wordcloud"/>
              {% assign name = file.name %}
              {% assign size = name | size | minus: 4 %}
              <p class="year">{{ name | slice: 0, size }}</p>
              {% endif %}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
